.sidebar .scroll{
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar .scroll::-webkit-scrollbar{
    width: 5px;
}
.sidebar .scroll::-webkit-scrollbar-track{
    background: #ffffff;
}
.sidebar .scroll::-webkit-scrollbar-thumb{
    background: #fc8888;
}
.sidebar .scroll::-webkit-scrollbar-thumb:hover{
    background: #ff4c4c;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.range-slider{
    height: 5px !important;
}

.range-slider__range{
    background: #FF5252 !important;
    height: 5px !important;
}
.range-slider__thumb{
    background: #FF5252 !important;
    height: 15px !important;
    width: 15px !important;
}