@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
/* *{
    @apply p-0 m-0 box-border;
} */


body {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    background: #F2EEED;
    overflow-x: hidden;
}
.container {
    @apply w-[90%] mx-auto;
}
.link:hover {
    @apply text-[#ff5252];
}
.MuiBadge-badge {
    @apply !bg-[#FF5252];
}

.MuiButtonBase-root:hover .link {
    @apply text-[#ff5252];
}

.homeCatSlider{
    position: relative;
}
.homeCatSlider .swiper-button-prev{
    position: absolute !important;
    left: 0 !important;
}
.homeCatSlider .swiper-button-prev:hover{
    background: #FF5252 !important;
    color: #fff !important;
    border: 1px solid #FF5252;
}
.homeCatSlider .swiper-button-next{
    position: absolute !important;
    right: 0 !important;
}
.homeCatSlider .swiper-button-next:hover{
    background: #FF5252 !important;
    color: #fff !important;
    border: 1px solid #FF5252;
}
.homeCatSlider .swiper-button-prev, .homeCatSlider .swiper-button-next{
    width: 40px;
    height: 40px;
    min-width: 40px;
    border: 1px solid black;
}

.homeCatSlider .item:hover img{
    transform: scale(1.3);
}